.control-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.control-bar span {
  font-size: 28px;
  font-weight: bold;
}

.control-bar i {
  margin: 0 12px;
}
